@layer global {
  *, :before, :after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: monospace, system-ui, sans-serif;
    line-height: 1.5;
  }
}

@layer tokenami {
  :root {
    --_grid: .25rem;
    --color_primary: #000;
    --color_white: #fff;
    --font-size_4xl: 2.25rem;
    --font-size_small: .875rem;
    --font-size_xs: .75rem;
    --leading_4xl: 2.5rem;
    --size_full: 100%;
    --size_md: 28rem;
    --weight_semibold: 600;
  }

  * {
    --justify-content: initial;
    --width: initial;
    --height: initial;
    --flex-shrink: initial;
    --stroke: initial;
    --padding: initial;
    --display: initial;
    --align-items: initial;
    --outline: initial;
    --background-color: initial;
    --border: initial;
    --background: initial;
    --margin-top: initial;
    --margin-bottom: initial;
    --flex-direction: initial;
    --gap: initial;
    --max-width: initial;
  }

  @layer tk1 {
    [style] {
      width: var(--_15jvuf0, var(--width, revert-layer));
      --_15jvuf0: var(--width__calc) calc(var(--width) * var(--_grid));
      height: var(--_r8sevj, var(--height, revert-layer));
      --_r8sevj: var(--height__calc) calc(var(--height) * var(--_grid));
      stroke: var(--stroke, revert-layer);
      padding: var(--_2dqpfb, var(--padding, revert-layer));
      --_2dqpfb: var(--padding__calc) calc(var(--padding) * var(--_grid));
      display: var(--display, revert-layer);
      white-space: var(--white-space, revert-layer);
      outline: var(--outline, revert-layer);
      color: var(--color, revert-layer);
      border: var(--border, revert-layer);
      background: var(--background, revert-layer);
      gap: var(--_14n3ddg, var(--gap, revert-layer));
      --_14n3ddg: var(--gap__calc) calc(var(--gap) * var(--_grid));
      text-align: var(--text-align, revert-layer);
      text-transform: var(--text-transform, revert-layer);
      max-width: var(--_15j6prn, var(--max-width, revert-layer));
      --_15j6prn: var(--max-width__calc) calc(var(--max-width) * var(--_grid));
    }
  }

  @layer tk2 {
    [style] {
      justify-content: var(--justify-content, revert-layer);
      flex-shrink: var(--flex-shrink, revert-layer);
      align-items: var(--align-items, revert-layer);
      font-size: var(--font-size, revert-layer);
      font-weight: var(--font-weight, revert-layer);
      background-color: var(--background-color, revert-layer);
      margin-top: var(--_1npkur4, var(--margin-top, revert-layer));
      --_1npkur4: var(--margin-top__calc) calc(var(--margin-top) * var(--_grid));
      margin-bottom: var(--_1rgufc4, var(--margin-bottom, revert-layer));
      --_1rgufc4: var(--margin-bottom__calc) calc(var(--margin-bottom) * var(--_grid));
      flex-direction: var(--flex-direction, revert-layer);
      line-height: var(--line-height, revert-layer);
    }
  }
}
